<service>
	<serviceName>suscripcion</serviceName>
	<serviceAliases>
		<alias>suscripciones</alias>
		<alias>subscripcion</alias>
		<alias>subscripciones</alias>
		<alias>excluir</alias>
		<alias>excluyeme</alias>
	</serviceAliases>
	<serviceDescription>Muestra subscripciones abiertas para Apretaste</serviceDescription>
	<creatorEmail>salvi@apretaste.com</creatorEmail>
	<serviceCategory>otros</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto ponga la palabra SUSCRIPCION

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: SUSCRIPCION

			Le llegara un email con sus suscriciones.
		]]>
	</serviceUsage>
</service>
